html, body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Oculta el desplazamiento horizontal */
  width: 100vw; /* Asegura que el ancho del body sea igual al viewport */
}

header {
  position: relative;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Separa el título y los botones */
  align-items: center; /* Alinea los elementos verticalmente */
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #81D2D0;
  border-bottom: 4px solid #519897;
}

h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.5rem;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-right: 50px;
  font-size: 20px;
}

.buttons a {
  text-decoration: none;
  color: black;
  background-color: #93DEDD;
  padding: 10px 15px;
  border-radius: 20px;
  transition: background 0.3s;
}

.buttons a:hover {
  background-color: #ADE1E5;
}

nav {
  position: absolute;
  left: 42%;
  top: 152px;
}

nav ul {
  list-style: none; /* Elimina los puntos de la lista */
  display: flex; /* Poner los elementos en línea */
  gap: 50px; /* Espaciado entre elementos */
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  transition: background 0.3s;
}

nav ul li a:hover {
  background-color: #E0F7FA; /* Cambia este color si prefieres otro */
}

.logo {
  display: block;
  margin-top: 5px;
  margin-left: 50px;
}
