body {
  display: flex;
  flex-direction: column; /* Permite que el contenido se apile verticalmente */
  min-height: 100vh; /* Garantiza que el body ocupe toda la pantalla */
  margin: 0; /* Elimina el margen predeterminado del body */
  background-color: #f4f4f4;
}

main {
  flex: 1; /* Permite que el contenido principal ocupe el espacio disponible */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  gap: 60px;
  margin: 120px 80px;
}

.left-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 10px;
}

#izquierda p {
  text-align: center;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  flex: 1;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.center-image {
  max-width: 500px;
  height: auto;
  border: 3px solid #81D2D0;
  border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.reuniones {
  font-size: 16px;
  color: #333;
}

@media (max-width: 1300px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  #izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-image {
    align-self: center;
  }
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .left-image {
    max-width: 180px;
  }
}

@media (max-width: 600px) {
  .left-image {
    max-width: 160px;
  }

  .center-image {
    max-width: 400px;
  }

  .right-section {
    font-size: smaller;
  }

  .reuniones {
    font-size: 13px;
  }
}