body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  gap: 60px;
  margin: 120px 80px;
}

.left-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: auto;
    width: 200px;
}

#izquierda p {
  text-align: center;
}

.notas_section {
  width: 95%;
  background-color: #ADE1E5;
  border-radius: 10px;
  margin-right: 150px;
}

.notas_section h3 {
  padding-top: 10px;
  padding-left: 10px;
  color: #333;
}

.notas_section p {
  padding-bottom: 10px;
  padding-left: 10px;
  color: #555;
}

.center-image {
  border: 3px solid #81D2D0;
  border-radius: 10px;
  max-width: 500px;
  height: auto;

}

@media (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  #izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-image {
    align-self: center;
  }
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .left-image {
    max-width: 180px;
  }
}

@media (max-width: 600px) {
  .left-image {
    max-width: 160px;
  }

  .center-image {
    max-width: 400px;
  }

  .notas_section h3 {
    font-size: smaller;
  }

  .notas_section p {
    font-size: smaller;
  }
}