body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos con el mismo espacio entre ellos */
  align-items: center; /* Centra los elementos verticalmente */
  max-width: 100%; /* Máximo ancho para evitar que los elementos se salgan */
  gap: 60px; /* Ajusta la separación entre los elementos */
  margin: 120px 80px;
}

.left-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: auto;
    width: 200px; /* Tamaño fijo para los lados */
    margin-left: 50px;
}

.right-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.center-image {
  border: 3px solid #81D2D0;
  border-radius: 10px;
  margin-left: 60px;
}

.center-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.Notas {
  font-size: 16px;
  color: #333;
}

.user-name {
  border: 0;
  margin-top: 20px;
  width: 100%;
  font-size: large;
  box-sizing: border-box; /* Asegura que padding/border no afecten el tamaño total */
}