html, body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Oculta el desplazamiento horizontal */
  width: 100vw; /* Asegura que el ancho del body sea igual al viewport */
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Separa el título y los botones */
  align-items: center; /* Alinea los elementos verticalmente */
  padding: 15px 20px;
  background-color: #81D2D0;
  color: black;
  margin-top: 0;
}

h1 {
  margin-left: 25px;
  font-size: 40px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-right: 40px;
}

.buttons a {
  text-decoration: none;
  color: black;
  background-color: #93DEDD;
  padding: 10px 15px;
  border-radius: 20px;
  transition: background 0.3s;
}

.buttons a:hover {
  background-color: #ADE1E5;
}

nav {
  display: flex;
  justify-content: center; /* Centra el contenido dentro del nav */
  width: 100%;
  margin-top: 10px;
}

/* Estilos para la lista */
nav ul {
  list-style: none; /* Elimina los puntos de la lista */
  display: flex; /* Poner los elementos en línea */
  gap: 20px; /* Espaciado entre elementos */
  padding: 0;
}

/* Estilos para los enlaces */
nav ul li a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s;
}
