<main class="contenedor">
  <!-- Imagen izquierda -->
  <section class="imagen-izquierda">
    <img src="assets/chandal.jpg" alt="Imagen Izquierda" class="chandal">
    <div class="boton1">
      <button> Comprar </button>
    </div>
  </section>

  <!-- Imagen central con dos botones debajo -->
  <section class="imagen-central">
    <img src="assets/camisetaMC.jpg" alt="Imagen Central" class="camiseta">
    <div class="boton2">
      <button> Comprar </button>
    </div>
  </section>

  <!-- Botón derecha -->
  <section class="boton-derecha">
    <button> Más Productos </button>
  </section>
</main>
