footer {
  display: flex;
  background-color: #5ad7ac;
  color: #222333;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 0;
  border-top: #48b897 solid 4px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.social-icons {
  display: flex;
  font-size: 1.1rem;
  margin-right: 100px;
}

.footer-left {
  gap: 10px;
  display: flex;
  margin-left: 30px;
  margin-right: 100px;
  align-items: center;
  flex-direction: column;
}

.footer-right {
  display: flex;
  margin-left: 100px;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

footer p {
  display: flex;
  margin-right: 100px;
  font-size: 1rem;
}

.copyright {
  text-align: center;
  width: 100%;
  font-size: 1rem;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
  }

  footer p {
    font-size: 0.8rem;
    margin: 0;
  }

  .footer-left {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer-roght {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

