footer {
  display: flex;
  width: 100%;
  background-color: #5ad7ac;
  color: #222333;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 0;
  border-top: #48b897 solid 4px;
}

.social-icons {
  display: flex;
  font-size: 1.1rem;
  margin-right: 100px;
}

footer footer-left {
  display: flex;
  margin-right: 100px;
  align-items: center;
}

footer footer-right {
  display: flex;
  margin-left: 100px;
  align-items: center;
}

footer p {
  display: flex;
  margin-right: 100px;
  font-size: 1rem;
}

.copyright {
  text-align: center;
  width: 100%;
  font-size: 1rem;
}

@media (max-width: 660px) {
  footer {
    flex-direction: column;
  }

  footer p {
    font-size: 0.8rem;
  }
}

