<main class="profile-container">
  <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()" class="registration-form">

    <label for="name">Nombre</label>
    <input type="text" id="name" formControlName="name" required>

    <label for="email">Correo electrónico</label>
    <input type="email" id="email" formControlName="email" required>

    <label for="nif">NIF/NIE</label>
    <input type="text" id="nif" formControlName="nif" required>

    <label for="password">Contraseña</label>
    <input type="password" id="password" formControlName="password" required>

    <label for="telephone">Teléfono</label>
    <input type="tel" id="telephone" formControlName="telephone" required>

    <label for="role">Rol</label>
    <select id="role" formControlName="role" required>
      <option value="admin">Admin</option>
      <option value="usuario">Usuario</option>
    </select>

    <button type="submit">Registrar</button>
  </form>
</main>
