.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap; /* Esto permite que se adapte en pantallas pequeñas */
}

.image-section {
  flex: 1;
  max-width: 400px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.noticias-container {
  flex: 2;
  max-width: 700px;
  background-color: #f8f9fa;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.noticia-card {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 5px solid #007BFF;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.noticia-card h4 {
  margin: 0 0 0.5rem 0;
}

.noticia-card p {
  margin: 0;
}

@media (max-width: 800px) {
  .noticias-section h2 {
    margin-bottom: 5px;
    color: #333; /* Color de texto */
    font-size: 15px;
  }

  /* Estilo para los párrafos de noticias */
  .noticias-section p {
    margin-bottom: 10px;
    color: #555; /* Color de texto */
    font-size: 11px;
    line-height: 1.6;
  }

}

@media (max-width: 500px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }

  #noticias-section {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna para móviles pequeños */
    width: 100%;
  }

  .noticias-section {
    grid-column: span 1; /* Cada noticia ocupará toda la fila */
  }

  .image-section {
    width: 100%;
  }
}
